@media only screen and (max-width: 394px) {
    .body {
        margin: 0;
        padding: 0;
    }

    .start-page-content {
        background-color: #98fbb7;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 1000px;

        .start-page-text-1 {
            margin-top: 300px;
        }

        .start-page-text-3 {
            width: 250px;
            text-align: center;
        }
    }
}